<table>
    <thead>
        <th>User Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Device</th>
        <th>DateTime</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{ item.id }}</td>
            <td>{{ item.firstName }} {{ item.lastName }}</td>
            <td>{{ item.age }} </td>
            <td>{{ item.sex }} </td>
            <td>{{ item.device }} </td>
            <td>{{ item.dateTime }} </td>
        </tr>
    </tbody>
</table>